Big_Data_For_Engineers/exercise06/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Movie">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="released" type="xs:date"/>
                <xs:element name="director" type="xs:string" minOccurs="0" maxOccurs="2"/>
                <xs:element name="comment">
                    <xs:complexType mixed="true"/>
                </xs:element>
                <xs:element name="cast" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
